html, body {
  height: 100%;
}

body {
  background-color: #28c8e4;
  color: #494545;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#content {
  position: relative;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffe4c4;
  -webkit-animation: fadeInFromNone 1s ease-out, moveUpFromBottom 1s ease-out;
  -moz-animation: fadeInFromNone 1s ease-out, moveUpFromBottom 1s ease-out;
  -o-animation: fadeInFromNone 1s ease-out, moveUpFromBottom 1s ease-out;
  animation: fadeInFromNone 1s ease-out, moveUpFromBottom 1s ease-out;
}

#portrait {
  border-radius: 50%;
  border: 3px solid #494545;
  max-width: 320px;
}

#linkList a {
  margin: 0 20px;
  color: #494545;
  text-decoration: none;
}

#linkList img {
  max-height: 14pt;
  margin-right: 5px;
  vertical-align: sub;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12pt;
  }
  #content {
    padding: 10px 5px;
    margin: 10px;
  }
  #portrait {
    max-width: 180px;
  }
  #linkList a {
    display: block;
    font-size: 14pt;
    margin: 20px;
  }
  #linkList a:last-child {
    margin: 20px 0 0 0;
  }
  #linkList img {
    max-height: 16pt;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInFromNone{
  0% {
    display: none;
    opacity: 0;
  }
  1% {
      display: block;
      opacity: 0;
  }
  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes moveUpFromBottom {
  from {
    bottom: -10%;
  }
  to {
    bottom: 0%;
  }
}

@-moz-keyframes moveUpFromBottom{
  from {
    bottom: -10%;
  }
  to {
    bottom: 0%;
  }
}

@-o-keyframes moveUpFromBottom {
  from {
    bottom: -10%;
  }
  to {
    bottom: 0%;
  }
}

@-webkit-keyframes moveUpFromBottom{
  from {
    bottom: -10%;
  }
  to {
    bottom: 0%;
  }
}